.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;
}

.hero-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #8ec5ca;
}

.hero-message {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 100px;
    height: 100%;
    width: 600px;
}

.hero-message h1{
    font-weight: 400;
    font-size: 50px;
    padding: 80px 0px 30px;
}

.img-wrapper {
    overflow: hidden;
    height: 100%;
    width: 900px;
}

.hero-image{
    display: flex;
    height: 100%;
    width: 900px;
    /* padding-top: 20px; */
    padding-left: 300px;  
    transform: scaleX(-1) scale(1.0);
}

.CTA-btn {
    width: 30%;
    height: 10%;
    margin-bottom: 100px;
    color: white;
    background-color: #008080;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}

.CTA-btn:hover {
    width: 30%;
    height: 10%;
    margin-bottom: 100px;
    color: white;
    background-color: #52B5B5;
    border: none;
    text-align: center;
    cursor: pointer;
}

/*****FEATURES******/

.features-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: white;
    box-shadow:  0 0 0 2px #d9d9d9, 0.3em 0.3em 1em #d9d9d949;
    /* box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3); */
}

.features-type {
    display: flex;
    flex-direction: row;
}

.features-wrapper h3 {
    font-weight: 400;
    font-size: 30px;
}

.features-wrapper h2,
.testimonials-wrapper h2 {
    font-weight: 400;
    font-size: 35px;
}

.feature-content {
    color: white;
    background-color: #002627;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 600px;*/
    width: 300px; 
    margin: 60px 60px;
    word-wrap: break-word;
    border-radius: 3px;
}

.feature-content p {
    width: 75%;
    margin-left: 15px;
}

.feature-icon {
    font-size: 24p;
    height: 50px;
    width: 50px;
    margin: 30px 0px;
}

.learn-icon {
    font-size: 24p;
    height: 50px;
    width: 50px;
    margin: 30px 0px 25px;
}

.feature-content a {
    margin: 20px;
    color: #52b5b5;
}

.feature-content a:hover {
    text-decoration: none;
}

#learn-link {
    margin: 20px 0px 20px;
}

.testimonials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-color: #E6F4F1;
}

.testimonials-wrapper h2 {  
    padding-bottom: 80px;
    padding-top: 60px;
    height: 50px;
}

.testimonials-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.user-story {
    display: flex;  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px;
    background-color: white;
    width: 20%; 
    height: 80%;
    border-radius: 5px;
}

.user-story p {
    font-weight: 600;
    font-size: 25px;
    margin: 20px;
}

.user-story h4 {
    font-size: 25px;
}

.name-span {
    margin-top: 3px;
    margin-right: 10px;
}

.name {
    display: flex;
    align-items: flex-start;
}

.arrow-forward,
.arrow-back {
    display: flex;
    justify-content: center;
    height: 300px;
    width: 50px;
    margin-top: 40px;
    color: #002627;
}