.homepage-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #e3d6c5;
}

.hero-wrapper {
    display: flex;
    width: 80%;
    height: 600px;
    margin-top: 200px;
    background-color: white;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.content-box {
    display: flex;
    width: 80%;
    height: 300px;
    margin-top: 30px;
    background-color: white;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.features-wrapper {
    display: flex;
    width: 80%;
    height: 300px;
    margin-top: 30px;
    background-color: white;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.testimonials-wrapper {
    display: flex;
    width: 80%;
    height: 600px;
    margin-top: 30px;
    background-color: white;
    margin-bottom: 100px;
    box-shadow:  0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}