.footer {
    display: flex;
    flex-direction: row;
    background-color: #002627;
    height: 500px;
    width: 100%;
    color: red;
}

.foot-logo-img {
    margin: 100px  100px 100px 200px;
    width: 200px;
    height: 100px;
    color: white;
}

.site-map-UL {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.site-map-UL li {
    margin: 8px;
}

.site-map-UL a{
    color: #52B5B5;
    text-decoration: none;
}

.site-map-UL a:hover{
    color: #52B5B5;
    text-decoration: underline;
}